<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>

  <div id="file_drag">Drop Files Here</div>
  <div id="images">
  <% @test.images.each do |img| -%>
    <a href="<%= test_image_url(@test, img) %>"><img src="<%= img.url %>" /></a>
  <% end -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div style="display: none;"> 
  <input id="file_input" type="file" style="display: none;">
  <%= form_for([@test, @image]) do |f| -%>
    <%= f.text_field :url %>
  <% end -%> 
</div>
