<p id="notice"><%= notice %></p>

<div id="name"><%= @test.name %></div>

<div id="images">
  <% @test.images.each do |img| -%>
    <img src="<%= img.url %>" />
  <% end -%>
</div>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
